
<div class="col-md-10 col-md-offset-1" style="margin-top: 50px;">
	<div class="page-header">
	  <h1>Paciente <small>Cadastro simplificado</small></h1>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-body">
	  		
			<div class="row col-md-12">
				<p>Os campos com ( <span style="color:red;">*</span> ) são de preenchimento obrigatório</p>
			</div>	
			
	  		<div class="row" style="margin-top: 40px;">
		  		<div class="col-md-8">
		  			<label  class="required">Nome completo: </label>
					<input type="text" class="form-control" >
		  		</div>

		  		<div class="col-md-4">
		  			<label  class="required" >Data de nascimento:</label>
					<input type="text" class="form-control" >
		  		</div>
		  	</div>

		  	<div class="row" style="margin-top: 5px;">
		  		<div class="col-md-4">
		  			<label class="required">CPF:</label>
					<input type="text" class="form-control" >
		  		</div>

		  		<div class="col-md-4">
		  			<label >Telefone fixo:</label>
					<input type="text" class="form-control" >
		  		</div>

		  		<div class="col-md-4">
		  			<label class="required">Celular:</label>
					<input type="text" class="form-control" >
		  		</div>
		  	</div>

		  	<div class="row" style="margin-top: 5px;">
		  		<div class="col-md-6">
		  			<label class="required">Filiação 1:</label>
					<input type="text" class="form-control" >
		  		</div>

		  		<div class="col-md-6">
		  			<label >Filiação 2:</label>
					<input type="text" class="form-control" >
		  		</div>
		  	</div>

		  	
		  	<div class="row col-md-12"  style="margin-top: 15px;">
		    	<button   class="btn btn-success">Cadastrar</button>
		    </div>
	  </div>
	</div>
</div>