

<div class="col-md-12 " style="margin-top: 150px;">
	<div class="jumbotron">
	  <h1>Seja bemvindo! <i style="color: green;" class="fa fa-check-circle" aria-hidden="true"></i></h1>
	  <p>Seu cadastro foi concluido com sucesso, escrever alguma coisa sobre o sistema, escrever alguma coisa sobre o sistema, escrever alguma coisa sobre o sistema, escrever alguma coisa sobre o sistema</p>

	  <p><a routerLink="/login" class="btn btn-success btn-lg" role="button">Acessar o sistema.</a></p>
	</div>
</div>
